{% extends 'base.html' %}
{% block content %}
<form action="/all_in" method="get" target="_self">
<div class="row" style="margin-left: 20px;">
    <div class="col">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="mobile_operator_name">
        <option selected value="0">Выбор оператора</option>
        <option value="Мегафон">Мегафон</option>
        <option value="МТС">МТС</option>
        <option value="Билайн">Билайн</option>
        <option value="Теле2">Теле2</option>
        <option value="Yota">Yota</option>
        </select>
    </div>
    <div class="col">
        <script>function showVal(newVal){
        document.getElementById("valBox").innerHTML=newVal;
        }</script>
        
        <label for="customRange3" class="form-label">Интернет</label>
        <input type="range" class="form-range" name="phone_internet_qty" min="0" max="60" step="5" id="customRange3" value="" onchange="showVal(this.value)">
        <span id="valBox"></span><label> ГБ</label>
    </div>
    <div class="col">
        <script>function showVal_1(newVal_1){
        document.getElementById("valBox_1").innerHTML=newVal_1;
        }</script>
    
        <label for="customRange3" class="form-label">Минуты</label>
        <input type="range" class="form-range" name="phone_minutes_qty" min="0" max="2000" step="200" id="customRange3" onchange="showVal_1(this.value)">
        <span id="valBox_1"></span>
    </div>
    <div class="col">
    <script>function showVal_2(newVal_2){
        document.getElementById("valBox_2").innerHTML=newVal_2;
    }</script>
    
    <label for="customRange3" class="form-label">Скорость домашнего интернета</label>
    <input type="range" class="form-range" name="internet_speed" min="100" max="1000" step="100" id="customRange3" onchange="showVal_2(this.value)">
    <span id="valBox_2"></span><label> Мб/с</label>
    </div>
    </div>
    <div class="col-md-3">
        <script>function showVal_3(newVal_3){
            document.getElementById("valBox_3").innerHTML=newVal_3;
        }</script>
        
        <label for="customRange3" class="form-label">Количество каналов</label>
        <input type="range" class="form-range" name="channels_qty" min="0" max="250" step="100" id="customRange3" onchange="showVal_3(this.value)">
        <span id="valBox_3"></span>
    </div>
    <div class="col-md-3 offset-md-3" style="margin-bottom: 20px;">
        <button class="btn btn-primary" type="submit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Подобрать тариф
        </button>
    </div>
    </div>
</form>
<!-- Block 3 -->
<table class="table table-hover">
<thead>
    <tr>
    <th scope="col">Оператор - Тариф</th>
    <th scope="col">В абонентскую плату включено</th>
    <th scope="col">Абонентская плата</th>
    <th scope="col"></th>
    </tr>
</thead>
<tbody>
    {% for tarif_3in1 in tarifs_list %}
    <tr class="table-active" style="margin-left: 20px;">
        <th scope="row">{{ tarif_3in1.mobile_operator_name }} - {{ tarif_3in1.tarif_name }}</th>
        <td>{{ tarif_3in1.phone_internet_qty }} Гб, {{ tarif_3in1.phone_minutes_qty }} минут,  {{ tarif_3in1.internet_speed }} Мб/с, {{ tarif_3in1.channels_qty }} каналов</td>
        <td>{{ tarif_3in1.price }}₽/мес</td>
        <td><a class="btn btn-primary" href="{{ tarif_3in1.page_link }}" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample" target="_blank">
        Сайт оператора</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}